@charset "UTF-8";

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  border: 0;
  offset: 0;
  vertical-align: baseline;
  list-style: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  font-weight: normal;
  font-size: 24px;
  background-color: #fff;
  color: #111;
  line-height: 1.2;
}

::-moz-selection {
    color: #000;
    background: yellow;
}

::selection {
    color: #000;
    background: yellow;
}

/* here we go */

.container {
  max-width: 800px;
  margin: 60px 30px;
}

.container img {
  width: 100%;
  margin-top: 2em;
}

@media (min-width: 800px) {
  .container {
    margin: 100px auto;
  }
}